
body {
  background-color: #007bff; /* Couleur de fond bleu */
}

.card {
  margin-top: 20px; /* Marge en haut de la carte */
  margin-bottom: 20px; /* Marge en bas de la carte */
  height: calc(100vh - 40px); /* Hauteur de la carte pour centrer verticalement */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
